
div {
    display: block;
}

.tickers-container {


    position: relative;
    width: 100%;
    min-height: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 1em 1em;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.6em;
    box-shadow: 5px 5px 20px black;
}

.tickers {
/*    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;*/
	list-style-type: none;
    background-color: black;
    border-radius: 0.6em;
    box-shadow: 5px 5px 20px black;

}

a {
    text-decoration: none;
    color:grey;
}
@media screen and (max-width: 800px) {
    .tickers{
        display: block;
    }
}