.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1px;
  text-align: left;
}

.Logo-container {
	display: inline-block;
	padding-left: 5em;
	padding-top: 1em;
	width: 120px;
}

.Logo-container img {
   width: 100%;
   height: auto;
   top: auto;

}

@media screen and (max-width: 800px) {
  .App-header {
    background-color: #222;
    padding: 1px;
    text-align: center;
  }
  .Logo-container {
    display: inline-block;
    padding-left: 0em;
    padding-top: 1em;
  }
}



